<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534221336745-4njd506dbgfhclqou203hi64h0m3qu2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534221336745-4njd506dbgfhclqou203hi64h0m3qu2t</string>
	<key>API_KEY</key>
	<string>AIzaSyDDvSgqAgWOPzPMaBw9EXUvHzR1PrgNPYM</string>
	<key>GCM_SENDER_ID</key>
	<string>534221336745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.ubc.tendonLoader</string>
	<key>PROJECT_ID</key>
	<string>tendon-loader</string>
	<key>STORAGE_BUCKET</key>
	<string>tendon-loader.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534221336745:ios:d8976e23c06041f59639b8</string>
	<key>DATABASE_URL</key>
	<string>https://tendon-loader-default-rtdb.firebaseio.com</string>
</dict>
</plist>