<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041327389562-fvn3rpf7spvb1oammmdluf1oth7gs732.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041327389562-fvn3rpf7spvb1oammmdluf1oth7gs732</string>
	<key>API_KEY</key>
	<string>AIzaSyADd7_LxhOnxD9Tpgf1YBSaFw7mpeEgSG0</string>
	<key>GCM_SENDER_ID</key>
	<string>1041327389562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.mitul.tendonLoader</string>
	<key>PROJECT_ID</key>
	<string>tendonloader-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>tendonloader-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041327389562:ios:6972799363ae77a4a874c3</string>
</dict>
</plist>